//乔宇自定义样式组件
.table-name{font-weight: bold;color: #409EFF;span{color:#606266;font-weight: normal;}}
.table-value{font-weight: 400;}
.infinite-status-prompt{border: none;}
.inlineBlock{display: inline-block !important;}
.text_center{text-align: center;}
.noTimeLine .is-always-shadow{box-shadow: none !important;border: none !important;.el-card__body{padding: 20px 0;}}
.bold{font-weight: bold;}
.width100{width:100%;}
.line_height25{line-height:25px;}
.fontSize14{font-size: 14px;}
.defaultColor{color:#606266;}
